# Dataset Overview

The dataset contains **9,800 entries** with **18 columns**, covering various aspects of sales data such as:

### Order Details
- `Order ID`, `Order Date`, `Ship Date`, `Ship Mode`

### Customer Information
- `Customer ID`, `Customer Name`, `Segment`

### Geographical Details
- `Country`, `City`, `State`, `Postal Code`, `Region`

### Product Details
- `Product ID`, `Category`, `Sub-Category`, `Product Name`

### Sales Metrics
- `Sales`: Sales amount for each transaction

---

# Project Steps

## 1. Load and Examine the Dataset
- Load the dataset and explore its structure.

## 2. Data Cleaning
- Identify any missing values or inconsistencies.
- Handle potential duplicates or incorrect entries.

## 3. Product ID Cleanup
- Discuss the approach to handle multiple names under the same `Product ID`.
- Introduce a new **unique product identifier** if necessary.

## 4. Data Modeling
- Design the **fact table** (for transactional data).
- Design the **dimension tables** (for customer, product, and time dimensions).

In [65]:
import pandas as pd

file_path = r'C:\Users\ATIYA\Downloads\ITI SuperStore DataSet Python\Dataset.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
df.head(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

(   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
 0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
 1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
 2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class    DV-13045
 3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
 4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335

      Customer Name    Segment        Country             City       State  \
 0      Claire Gute   Consumer  United States        Henderson    Kentucky
 1      Claire Gute   Consumer  United States        Henderson    Kentucky
 2  Darrin Van Huff  Corporate  United States      Los Angeles  California
 3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
 4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

    Postal Code Region       Product ID         Category Sub-Category  \
 0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
 1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
 2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
 3      33311.0  South  FUR-TA-10000577        Furniture       Tables
 4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                         Product Name     Sales
 0                  Bush Somerset Collection Bookcase  261.9600
 1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
 2  Self-Adhesive Address Labels for Typewriters b...   14.6200
 3      Bretford CR4500 Series Slim Rectangular Table  957.5775
 4                     Eldon Fold 'N Roll Cart System   22.3680  ,
 None)

## Steps for Cleaning and Structuring

### 1. Handle Missing Values
- Address missing values in the **`Postal Code`** column.

### 2. Convert Date Columns
- Convert **`Order Date`** and **`Ship Date`** columns to proper datetime format for accurate analysis.

### 3. Remove Duplicates
- Check for and remove any **duplicate rows** in the dataset to ensure data integrity.

In [ ]:


# 1. Handle missing values in 'Postal Code'
df['Postal Code'].fillna(method='ffill', inplace=True)

# Convert 'Order Date' and 'Ship Date' to datetime format using the correct format
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d/%m/%Y', errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%d/%m/%Y', errors='coerce')




# Display the number dplicate values
duplicate_rows = df.duplicated().sum()
print(f'Number of Duplicate rows: {duplicate_rows}')


# Display the number of unique values in each colun 
unique_values = df.nunique()
print(unique_values)

Number of Duplicate rows: 0
Row ID           9800
Order ID         4922
Order Date       1230
Ship Date        1326
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              529
State              49
Postal Code       626
Region              4
Product ID       1861
Category            3
Sub-Category       17
Product Name     1849
Sales            5757
dtype: int64

C:\Users\ATIYA\AppData\Local\Temp\ipykernel_60600\2556687461.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Postal Code'].fillna(method='ffill', inplace=True)
C:\Users\ATIYA\AppData\Local\Temp\ipykernel_60600\2556687461.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Postal Code'].fillna(method='ffill', inplace=True)

## Data Cleaning Summary

The dataset has been successfully cleaned based on the outlined steps:

- ✅ No duplicate rows were found — the data is free from redundancy.
- ✅ Missing values in the **`Postal Code`** column were handled using **forward fill** (`ffill()`) grouped by city.
- ✅ **`Order Date`** and **`Ship Date`** columns have been converted to **datetime format** for more accurate analysis.
- ✅ Null value checks have been performed across all columns.

In [ ]:


null_counts = df.isnull().sum()

# Print the counts of null values in each column
print(null_counts)

# Check the conversion by displaying the data type of each column
df.dtypes
# Check with your eye the results as well 
df.head()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

## Resolving Product Name Conflicts

In some cases, multiple **product names** are associated with the same **`Product ID`**. To address this issue:

- A new **unique product identifier** will be introduced.
- This identifier will be a **composite key** combining the existing **`Product ID`** with a unique attribute of the **`Product Name`**.

This approach will ensure each product is clearly and consistently represented in the dataset.

➡️ Once generated, we will preview the modified dataset to validate the new structure.

In [ ]:


# Creating a new unique identifier by combining 'Product ID' and a hashed value of 'Product Name'
# Convert both 'Product ID' and the hash of 'Product Name' to string before concatenation
df['Unique product ID'] = df['Product ID'].astype(str) + '-' + df['Product Name'].apply(lambda x: str(hash(x)))


# Display the dataset with the new unique identifier
df[['Product ID', 'Product Name', 'Unique product ID']].head()

,Product ID,Product Name,Unique product ID
0,FUR-BO-10001798,Bush Somerset Collection Bookcase,FUR-BO-10001798-8345310290503631799
1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",FUR-CH-10000454--493134692006009203
2,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,OFF-LA-10000240-5720614935370201874
3,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,FUR-TA-10000577-6333409200183582064
4,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,OFF-ST-10000760-4143999955364696370

In [69]:
# Check if 'Unique product ID' is in the DataFrame
print(df.columns)  # This will display all column names in the DataFrame

# If the column exists, proceed with creating the Product Dimension Table
if 'Unique product ID' in df.columns:
    product_dimension = df[['Unique product ID', 'Product ID', 'Category', 'Sub-Category', 'Product Name']].drop_duplicates()
    print(product_dimension.head())  # Optionally print to verify the contents
else:
    print("Column 'Unique product ID' does not exist in the DataFrame.")

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Unique product ID'],
      dtype='object')
                     Unique product ID       Product ID         Category  \
0  FUR-BO-10001798-8345310290503631799  FUR-BO-10001798        Furniture
1  FUR-CH-10000454--493134692006009203  FUR-CH-10000454        Furniture
2  OFF-LA-10000240-5720614935370201874  OFF-LA-10000240  Office Supplies
3  FUR-TA-10000577-6333409200183582064  FUR-TA-10000577        Furniture
4  OFF-ST-10000760-4143999955364696370  OFF-ST-10000760  Office Supplies

  Sub-Category                                       Product Name
0    Bookcases                  Bush Somerset Collection Bookcase
1       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2       Labels  Self-Adhesive Address Labels for Typewriters b...
3       Tables      Bretford CR4500 Series Slim Rectangular Table
4      Storage                     Eldon Fold 'N Roll Cart System

## Time to structure the dataset into fact and dimension tables.

## Data Modeling: Fact and Dimension Tables

To enable efficient analysis and reporting, the dataset will be structured using a **star schema** approach.

### 📊 Fact Table: Sales Transactions

This table captures the core sales activity and includes:
- Sales amounts
- Order and ship dates
- Foreign keys referencing each dimension table

### 📁 Dimension Tables

These tables store descriptive information to enrich analysis:

#### 🧾 Product Dimension
- New unique product identifier (composite key)
- Product ID
- Product Name
- Category
- Sub-Category

#### 👤 Customer Dimension
- Customer ID
- Customer Name
- Segment

#### 📅 Date Dimension
- Extracted from `Order Date` and `Ship Date`
- Includes attributes like Year, Month, Day, Week, etc.

#### 🌍 Geography Dimension
- Country
- City
- State
- Postal Code
- Region

In [ ]:

# Creating the Date Dimension Table
date_dimension = df[['Order Date', 'Ship Date']].drop_duplicates()
date_dimension['Year'] = date_dimension['Order Date'].dt.year
date_dimension['Month'] = date_dimension['Order Date'].dt.month
date_dimension['Day'] = date_dimension['Order Date'].dt.day
date_dimension['Weekday'] = date_dimension['Order Date'].dt.weekday

# Creating the Customer Dimension Table
customer_dimension = df[['Customer ID', 'Customer Name', 'Segment']].drop_duplicates()

# Creating the Geography Dimension Table
# geography_dimension = df[['Country', 'City', 'State', 'Postal Code', 'Region']].drop_duplicates()

df['Geo_ID'] = df['City'] + '_' + df['State'] + '_' + df['Postal Code'].astype(str)
geography_dimension = df[['Geo_ID', 'Country', 'City', 'State', 'Postal Code', 'Region']].drop_duplicates()


# Creating the Product Dimension Table
product_dimension = df[['Unique product ID', 'Product ID', 'Category', 'Sub-Category', 'Product Name']].drop_duplicates()

# Creating the Fact Table
# fact_table = df[['Order ID', 'Customer ID', 'Unique product ID', 'Order Date', 'Ship Date', 'Sales']]

# Create the Fact Table including the Geo_ID
fact_table = df[['Order ID', 'Customer ID', 'Product ID', 'Order Date', 'Ship Date', 'Sales', 'Geo_ID']]

# Displaying the first few rows of each table to confirm
{
    "Date Dimension": date_dimension.head(),
    "Customer Dimension": customer_dimension.head(),
    "Geography Dimension": geography_dimension.head(),
    "Product Dimension": product_dimension.head(),
    "Fact Table": fact_table.head()
}

{'Date Dimension':    Order Date  Ship Date  Year  Month  Day  Weekday
 0  2017-11-08 2017-11-11  2017     11    8        2
 2  2017-06-12 2017-06-16  2017      6   12        0
 3  2016-10-11 2016-10-18  2016     10   11        1
 5  2015-06-09 2015-06-14  2015      6    9        1
 12 2018-04-15 2018-04-20  2018      4   15        6,
 'Customer Dimension':    Customer ID    Customer Name    Segment
 0     CG-12520      Claire Gute   Consumer
 2     DV-13045  Darrin Van Huff  Corporate
 3     SO-20335   Sean O'Donnell   Consumer
 5     BH-11710  Brosina Hoffman   Consumer
 12    AA-10480     Andrew Allen   Consumer,
 'Geography Dimension':                              Geo_ID        Country             City  \
 0        Henderson_Kentucky_42420.0  United States        Henderson
 2    Los Angeles_California_90036.0  United States      Los Angeles
 3   Fort Lauderdale_Florida_33311.0  United States  Fort Lauderdale
 5    Los Angeles_California_90032.0  United States      Los Angeles
 12   Concord_North Carolina_28027.0  United States          Concord

              State  Postal Code Region
 0         Kentucky      42420.0  South
 2       California      90036.0   West
 3          Florida      33311.0  South
 5       California      90032.0   West
 12  North Carolina      28027.0  South  ,
 'Product Dimension':                      Unique product ID       Product ID         Category  \
 0  FUR-BO-10001798-8345310290503631799  FUR-BO-10001798        Furniture
 1  FUR-CH-10000454--493134692006009203  FUR-CH-10000454        Furniture
 2  OFF-LA-10000240-5720614935370201874  OFF-LA-10000240  Office Supplies
 3  FUR-TA-10000577-6333409200183582064  FUR-TA-10000577        Furniture
 4  OFF-ST-10000760-4143999955364696370  OFF-ST-10000760  Office Supplies

   Sub-Category                                       Product Name
 0    Bookcases                  Bush Somerset Collection Bookcase
 1       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
 2       Labels  Self-Adhesive Address Labels for Typewriters b...
 3       Tables      Bretford CR4500 Series Slim Rectangular Table
 4      Storage                     Eldon Fold 'N Roll Cart System  ,
 'Fact Table':          Order ID Customer ID       Product ID Order Date  Ship Date  \
 0  CA-2017-152156    CG-12520  FUR-BO-10001798 2017-11-08 2017-11-11
 1  CA-2017-152156    CG-12520  FUR-CH-10000454 2017-11-08 2017-11-11
 2  CA-2017-138688    DV-13045  OFF-LA-10000240 2017-06-12 2017-06-16
 3  US-2016-108966    SO-20335  FUR-TA-10000577 2016-10-11 2016-10-18
 4  US-2016-108966    SO-20335  OFF-ST-10000760 2016-10-11 2016-10-18

       Sales                           Geo_ID
 0  261.9600       Henderson_Kentucky_42420.0
 1  731.9400       Henderson_Kentucky_42420.0
 2   14.6200   Los Angeles_California_90036.0
 3  957.5775  Fort Lauderdale_Florida_33311.0
 4   22.3680  Fort Lauderdale_Florida_33311.0  }

In [71]:
# Save each table to a CSV file using raw strings for file paths
date_dimension.to_csv(r'C:\Users\ATIYA\Downloads\ITI SuperStore DataSet Python\Date_Dimension.csv', index=False)
customer_dimension.to_csv(r'C:\Users\ATIYA\Downloads\ITI SuperStore DataSet Python\Customer_Dimension.csv', index=False)
geography_dimension.to_csv(r'C:\Users\ATIYA\Downloads\ITI SuperStore DataSet Python\Geography_Dimension.csv', index=False)
product_dimension.to_csv(r'C:\Users\ATIYA\Downloads\ITI SuperStore DataSet Python\Product_Dimension.csv', index=False)
fact_table.to_csv(r'C:\Users\ATIYA\Downloads\ITI SuperStore DataSet Python\Fact_Table.csv', index=False)